.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    display: block;
    clear: both;
}
.clear::before,.clear::after{
    content: '';
    display: block;
    clear: both;
}
.single-page{
    width: 100%;
    /*border: 1px solid #eee;*/
    border-radius: 10px;
}
nav a{
    text-decoration: none;
    color: #000;
}